version: '3.9'
services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: nomad
      POSTGRES_PASSWORD: nomad
      POSTGRES_DB: nomad
    ports: ["5432:5432"]
  redis:
    image: redis:7
    ports: ["6379:6379"]
